

.SupplyChainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font: 'Greycliff CF';
  gap: 20px;
}

.SupplyChainContainer > div {
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #dddddd;
  border-radius: 20px;
}

.heading {
  text-align: center;
  margin-top: 10px;
  font-family: 'Greycliff CF', sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
}

.grid {
  display: grid;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.basicServicesGrid {
  grid-template-columns: repeat(3, 1fr);
}

.extendedServicesGrid {
  grid-template-columns: repeat(3, 1fr);
}


/* Mobile view */
@media (max-width: 768px) {
  .SupplyChainContainer {
    flex-direction: column;
  }
  .basicServicesGrid, .extendedServicesGrid {
    grid-template-columns: 1fr;
  }
}

/* Tablet view */
@media (min-width: 769px) and (max-width: 1024px) {
  .basicServicesGrid,
  .extendedServicesGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .SupplyChainContainer {
    flex-direction: column;
  }
}
